@use "sass:color";
@use "sass:string";

$fg-color: #4fd6be;
$bg-color-light: #222436;
$bg-color: #1e2030;
$txt-color: #c8d3f5;


.Bar {
    background: $bg-color;
    color: $fg-color;
    font: {
        weight: bold;
        family: Monaspace Neon;
    }
    border-radius: 15px;
    padding: 4px;
    border: 1px solid $fg-color;
}

.Workspaces {
    min-height: 160px;
    button {
        all: unset;
        background: transparent;
        border: none;
        margin: 4px;
        color: $fg-color;
    }

    .focused {
        background-color: #2f334d;
    }
}

.Time {
    min-height: 80px;
}

.top {
    min-height: 256px;
}

.Charging {
    min-width: 9px;
}

.BatterySymbol {
    margin-right: 2px;
}

.Battery {
    margin-right: 2px;
}

.SysTrayButton {
    all: unset;
    min-width: 16px;
    padding: 8px;
    background: $bg-color;
}

.trayContainer {
    min-height: 32px;
    margin: 8px;
}

.internet {
 min-height: 16px;
 font-size: 24px;
 margin: 16px;
}

.status {
 min-height: 512px;
}

.audioVisualiser {
    margin-top: 80px;
    min-height: 220px;
}

.visualiserBar {
    background: $fg-color;
}

window.OSD {
    color: $fg-color;
    font: {
        weight: bold;
        family: Monaspace Neon;
    }

    box.OSD {
        border-radius: 50px;
        background-color: $bg-color;
        padding: 6px 8px;
        margin: 7px;
    }

    icon {
        font-size: 12px;
    }

    label {
        font-size: 16px;
    }

    levelbar {
        trough {
            all: unset;
            margin-left: 4px;
            margin-right: 4px;
            block.filled {
                background: $fg-color;
            }
        }

        block {
            min-height: 8px;
        }
    }
}


@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

$error: #ff757f;

window.NotificationPopups {
    all: unset;
}

eventbox.Notification {

    &:first-child>box {
        margin-top: 1rem;
    }

    &:last-child>box {
        margin-bottom: 1rem;
    }

    // eventboxes can not take margins so we style its inner box instead
    >box {
        min-width: 400px;
        border-radius: 13px;
        background-color: $bg-color;
        margin: .5rem 1rem .5rem 1rem;
        box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);
        border: 1pt solid gtkalpha($fg-color, .03);
    }

    &.critical>box {
        border: 1pt solid gtkalpha($error, .4);

        .header {

            .app-name {
                color: gtkalpha($error, .8);

            }

            .app-icon {
                color: gtkalpha($error, .6);
            }
        }
    }

    .header {
        padding: .5rem;
        color: gtkalpha($fg-color, 0.5);

        .app-icon {
            margin: 0 .4rem;
        }

        .app-name {
            margin-right: .3rem;
            font-weight: bold;

            &:first-child {
                margin-left: .4rem;
            }
        }

        .time {
            margin: 0 .4rem;
        }

        button {
            all: unset;
            padding: .2rem;
            min-width: 0;
            min-height: 0;
            background: transparent;
            color: $fg-color;
        }
    }

    separator {
        margin: 0 .4rem;
        background-color: gtkalpha($fg-color, .1);
    }

    .content {
        margin: 1rem;
        margin-top: .5rem;

        .summary {
            font-size: 1.2em;
            color: $fg-color;
        }

        .body {
            color: gtkalpha($fg-color, 0.8);
        }

        .image {
            border: 1px solid gtkalpha($fg-color, .02);
            margin-right: .5rem;
            border-radius: 9px;
            min-width: 100px;
            min-height: 100px;
            background-size: cover;
            background-position: center;
        }
    }

    .actions {
        margin: 1rem;
        margin-top: 0;

        button {
            margin: 0 .3rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@function gtkalpha($c, $a) {
    @return string.unquote("alpha(#{$c},#{$a})");
}

window#launcher {
    all: unset;
    font-family: Monaspace Neon;

    box.Applauncher {
        background-color: $bg-color-light;
        border-radius: 11px;
        margin: 1rem;
        padding: .8rem;
        box-shadow: 2px 3px 8px 0 gtkalpha(black, .4);

        entry {
            all: unset;
            padding: 4px;
            margin: 4px;
            border: 2px solid $fg-color;
            border-radius: 5px;
            color: $fg-color;
        }

        button {
            all: unset;
            background: $bg-color;
            min-width: 0;
            min-height: 0;
            padding: .5rem;

            icon {
                font-size: 3em;
                margin-right: .3rem;
            }

            label.name {
                font-weight: bold;
                font-size: 1.1em;
                color: $fg-color;
            }

            label.description {
                color: gtkalpha($fg-color, .8);;
            }
        }

        box.not-found {
            padding: 1rem;
            background: $fg-color;

            icon {
                font-size: 6em;
                color: gtkalpha($fg-color, .7);
            }

            label {
                color: gtkalpha($fg-color, .9);
                font-size: 1.2em;
            }
        }
    }
}
