* {
    font-family: Monaspace Argon;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}

window#waybar {
    background-color: #121212;
    color: #79241f;
}
