
//@theme "/home/jthro/.local/share/rofi/themes/launchpad.rasi"

//@theme "/home/jthro/.local/share/rofi/themes/spotlight-dark.rasi"

//@theme "/home/jthro/.local/share/rofi/themes/launchpad.rasi"

@theme "/home/jthro/.local/share/rofi/themes/spotlight-dark.rasi"
