auto-save-list
eclipse.jdt.ls
eln-cache
straight
transient
tree-sitter
workspace
bookmarks
org-roam.db
projectile-bookmarks.eld
projects
.dap-breakpoints
.lsp-session-v1
.org-id-locations
.projectile
